:root {
    --body-color :    #1e202f;
    --skew-color :   #1e202f;
    --radial-gradient :#9C637A;
    --repeat-gradient :  #ffb6b3;
    --body-font-color : #9a90a7;
    --border-color: #f87972;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color:var(--body-font-color);
    background-color: var(--body-color);
    margin: 0;
    font-size: 1.10rem;
}
.header {
    margin-top: 5rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    /* background-color: antiquewhite; */
    padding-inline: 2rem;
    position: relative;
}

.header:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    background-color: var(--skew-color);
    transform: skewY(-11deg) translate(0,-40%);
}

.img-container {
    flex-shrink: 0;
    position: relative;
    width: 400px;
    height: 500px;
    border: 2px solid var(--border-color);
    border-collapse: collapse;
}


.img-container::before {
    position: absolute;
    content: '';
    left:-10%;
    top: 10%;
    width: 120px;
    height: 50px;
    background:radial-gradient(var(--radial-gradient) 10%, transparent 11%) repeat;
    z-index: 10;
    background-size: 10px 10px;
} 

.info::after {
    content: '';
    position: absolute;
    background: repeating-linear-gradient(
        45deg,          /* Diagonal angle */
        var(--repeat-gradient),          /* Starting color */
        var(--repeat-gradient) 10px,     /* End of the first black stripe */
        transparent 10px, /* Start of the transparent stripe */
        transparent 20px  /* End of the transparent stripe */
      );
    width: 120px;
    height: 30px;
    left: 90%;
    top: 95%;
} 


@keyframes infoShow {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.info {
    z-index: 2;
    padding: 3rem 1rem;
    align-self: center;
    flex-basis: 900px;
    border: 2px solid var(--border-color);
    margin-left: -2px; 
    margin-top: -2px;
    position: relative;
    transform-origin: left center;
    animation: infoShow .3s ease;
}

.info::before {
    color: var(--border-color);
    position: absolute;
    content: '[ About Me ]';
    top: 0;
    left: 75%;
    background-color: var(--skew-color);
    transform: translate(-50%,-50%);
}
.info h3 {
    display: none;
}
.img-container h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 3;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: grayscale(50%) contrast(175%) brightness(103%);
}

.section {
    margin: 10rem 5rem 5rem 5rem;
}

.card {
    color:black;
    background-color: var(--radial-gradient);
    position: relative;
    width: 100%;
}


.img img{
    object-fit: cover;
    width: 100%;
    height: auto;
    background-color: var(--radial-gradient);
}


.cards {
    margin: 2rem 2rem;
    border: 2px solid var(--border-color);
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1rem;
    position: relative;
    background: radial-gradient(var(--radial-gradient) 10% , transparent 10% ) repeat;
    background-size: 20px 25px;
    transition: background-position 3s ease;
}

.cards::before{
   content:'[ My Works ]';
   background-color: var(--body-color);
   color: var(--border-color);
   position: absolute;
    left: 50%;
    top: 0;
   transform: translate(-50%,-50%);
}

.card p {
    margin: 10px;
}
.links p {
    margin-right: auto;
}

.links {
    padding : 10px 10px 0 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.links img {
    width: 2rem;
}
.devicon-github-original  {
    font-size: 1.6rem;
}


footer {
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px,1fr));
    justify-content: space-around;
    padding: 2rem;
    margin: 10rem 5rem 5rem 5rem;
    position: relative;
    border: 2px solid var(--border-color);
}

footer::before {
    color: var(--border-color);
    background-color: var(--body-color);
    position: absolute;
    content: '[ Contact Me ]';
    transform: translate(-50%,-50%);
    left: 50%;
    top: 0;
}
footer h2 {
    text-align: center;

}

footer img {
    width: 1.8em;
}
footer p {
    display: flex;
    align-items: center;
}

/* 3D cube style */


.container-cube .scene {
    width: 150px;
    height: 150px;
    perspective: 300px;
}

.container-cube .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-75px);
    animation: cubeAnime 10s forwards infinite linear
    
}
@keyframes cubeAnime {
    to {
        transform: translateZ(-75px) rotateY(1turn) rotateX(1turn);
        /* transform: rotate3d(1, 1, 0, 45deg); */
    }
}
.container-cube .face {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid var(--border-color);
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    color: white;
    /* opacity: .8; */
}

.container-cube .front {
    /* background-color: rgb(5, 5, 70); */
    /* background: radial-gradient(var(--radial-gradient) 10% , transparent 10% ) repeat;
    background-size: 20px 25px; */
    background: repeating-linear-gradient(
        45deg,       
        var(--repeat-gradient),         
        var(--repeat-gradient) 10px,     
        var(--body-color) 10px, 
        var(--body-color) 20px  
      );
    transform: rotateY(0deg) translateZ(75px);
}

.container-cube .back {
    /* background-color: rgb(77, 7, 7); */
    /* background: radial-gradient(var(--radial-gradient) 10% , transparent 10% ) repeat;
    background-size: 20px 25px; */

    background: repeating-linear-gradient(
        45deg,       
        var(--repeat-gradient),         
        var(--repeat-gradient) 10px,     
        var(--body-color) 10px, 
        var(--body-color) 20px  
      );
    transform: rotateY(180deg) translateZ(75px);
}

 
.container-cube .right {
    /* background-color: rgb(3, 49, 3); */
    /* background: radial-gradient(var(--radial-gradient) 10% , transparent 10% ) repeat;
    background-size: 20px 25px; */

    background: repeating-linear-gradient(
        45deg,       
        var(--repeat-gradient),         
        var(--repeat-gradient) 10px,     
        var(--body-color) 10px, 
        var(--body-color) 20px  
      );
    transform: rotateY(90deg) translateZ(75px);
}

.container-cube .left {
    /* background-color: rgb(0, 89, 89); */
    /* background: radial-gradient(var(--radial-gradient) 10% , transparent 10% ) repeat;
    background-size: 20px 25px; */

    background: repeating-linear-gradient(
        45deg,       
        var(--repeat-gradient),         
        var(--repeat-gradient) 10px,     
        var(--body-color) 10px, 
        var(--body-color) 20px  
      );
    transform: rotateY(-90deg) translateZ(75px);
}

.container-cube .top {
    /* background-color: rgb(95, 10, 25); */
    /* background: radial-gradient(var(--radial-gradient) 10% , transparent 10% ) repeat;
    background-size: 20px 25px; */

    background: repeating-linear-gradient(
        45deg,       
        var(--repeat-gradient),         
        var(--repeat-gradient) 10px,     
        var(--body-color) 10px, 
        var(--body-color) 20px  
      );
    transform: rotateX(90deg) translateZ(75px);
}

.container-cube .bottom {
    /* background-color: rgb(118, 4, 120); */
    /* background: radial-gradient(var(--radial-gradient) 10% , transparent 10% ) repeat;
    background-size: 20px 25px; */

    background: repeating-linear-gradient(
        45deg,       
        var(--repeat-gradient),         
        var(--repeat-gradient) 10px,     
        var(--body-color) 10px, 
        var(--body-color) 20px  
      );
    transform: rotateX(-90deg) translateZ(75px);
}

/* .container-cube .show-front {
    transform: translateZ(-100px) rotateY(0);
}

.container-cube .show-back {
    transform: translateZ(-100px) rotateY(-180deg);
}

.container-cube .show-right {
    transform: translateZ(-100px) rotateY(-90deg);
}

.container-cube .show-left {
    transform: translateZ(-100px) rotateY(90deg);
}

.container-cube .show-top {
    transform: translateZ(-100px) rotateX(-90deg);
}

.container-cube .show-bottom {
    transform: translateZ(-100px) rotateX(90deg);
} */

.container-cube {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin: 5em 5em;
}
.container-cube .buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


@media (max-width:1024px) {
    .header {
        margin-top: 2rem;
        display: block;
        padding: 2rem 3rem;
    }
    .header::before {
        isolation: isolate
    }

    .img-container {
        z-index: 2;
        float: left;
        margin: 0 1rem 5px 0;
    }

    .img-container h2 {
        bottom: 80%;
        left: 100%;
        border: 2px solid var(--radial-gradient);
        padding: 10px;
    }

    .info {
        position: relative;
        z-index: 1;
        padding: 50px 20px;
        margin: 10rem 1rem 1rem;
    }

    footer {
        margin-top: 3rem;
    }
}

@media (max-width:750px) {
    body {
        overflow-x: hidden;
    }
    .header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-inline: 2rem;

    }
    .info {
        margin: 0;
    }

    .img-container {
        margin: auto;
        width: 100%;
    }
    .img-container h2 {
        border: none;
        bottom: 0;
        left: 50%;
    }

    .info::after {
        transform: rotate(90deg);
    }
    .info::before {
        content: '';
    }
    
    .info h3 {
        display: block;
        text-align: center;
    }

    .cards {
        margin: 0;
        padding: 20px;
    }

    .section {
        margin: 1rem;
    }

    footer {
        word-wrap: break-word;
        margin: 1rem;
        padding: .5rem;
    }

}